<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style>
    .problem-box {
      background-color: rgba(255, 255, 255, 0.4);
      border: 2px solid white;
      margin: 6em;
    }
    .problem {
      color: black;
    }
    .problem a {
      color: black;
      text-decoration: underline;
    }
  </style>

</head>
<div class="col-md-5 problem-box">
<h1>Today's Warmup</h1>
<h4>Post your solution in your codehelp channel before 9am</h4>

  <div class="problem">
    <%= @problem %>
  </div>
</div>